* {
  box-sizing: border-box;
  user-select: none;
}

body:not(.local)::before {
    position: fixed;
    left: 0;
    right: 0;
    top: 1rem; 
    color: red;
    text-align: center;
    color: red;
    font-size: 4rem;
    content: "NOT FINISHED";
    z-index: 4;
}

div.draw-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6rem;
}
div.draw-area canvas {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.toolbar, .icons, .tools, .settings, .toggle {
    display: flex;
    align-items:center;
}

.tools, .settings, .toggle {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
}

.icons, .fonts {
    position: fixed;
    display: none;
    bottom: 6rem;
    right: 0;
    padding: 1rem;
    background: white;
    border: 2px dashed lightgrey;
    border-bottom: 0;
}

.icons {
    min-width: 5rem;
    min-height: 5rem;
    max-height: 10rem;
}
.icon {
    display: inline-block;
    font-size: 10pt;
    padding: 0.2rem;
}
.icons::before,
.fonts::before,
.tools::before,
.settings::before {
    margin: 0 2rem 0 0;
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    color: green
}
.icons::before {
    content: "icons";
}
.fonts::before {
    content: "fonts";
}
.settings::before {
    content: "settings";
}
.tools::before {
    content: "tools";
}
.icon > img {
    display: block;
    margin: auto;
}
.icon.selected {
    border: 1px dashed darkorange;
    background: black;
    color: white;
}
.icon.selected > img {
    filter: invert(1);
}

.fonts {
    width: 5rem;
    height: 5rem;
}

.toolbar {
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    padding: 4px;
    height: fit-content;
    background: white;
    border-top: 2px dashed lightgrey;
    display: flex;
}

.tool {
    cursor: pointer;
}
.tools > * {
    padding: 5px;
    position: relative;
}
.tools > * > .tooltip {
    display: none;
    position: absolute;
    background: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
    padding: 4px;
    border-radius: 4px;
    top: -25px;
    height: 25px;
    text-align: center;
    margin-left: -5px;
    white-space: nowrap;
}
.tools > div:hover > .tooltip {
    display: block;
}
.toolbar .incomplete {
    text-decoration: line-through;
    /*visibility: hidden;*/
    opacity: 0.1;
}
.tool.selected {
    border: 1px solid red;
}

.toolbar > *:not(:last-child) {
    border-right: 2px dashed lightgrey;
}

.settings {
    padding-left: 1rem;
    margin-left: 1rem;
}
.toggle > * {
    padding: .2rem 1em .2em 1em;
}
.toggle-title {
    font-weight: bold;
}
.toggle-option {
    cursor: pointer;
    color: grey;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.toggle-option:first-of-type {
    border-left-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.toggle-option:last-of-type {
    border-right-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.toggle-option:hover {
    color: black;
}
.toggle-option.selected {
    background: rgba(200, 255, 200, 0.6);
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    height: 3rem;
    background: white;
    border-top: 2px dashed lightgrey;
}

.text {
    font-family: PermanentMarker;
}

@font-face {
    font-family: PermanentMarker;
    font-style: normal;
    font-weight: 400;
    src: url("font/PermanentMarker-Regular.ttf");
}
