* {
  box-sizing: border-box;
  user-select: none;
}

div.draw-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6rem;
}
div.draw-area canvas {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.icons, .font {
    position: fixed;
    display: none;
    bottom: 6rem;
    right: 0;
    padding: 1rem;
    background: white;
    border: 2px dashed lightgrey;
    border-bottom: 0;
}

.icons {
    min-width: 5rem;
    min-height: 5rem;
    max-height: 10rem;
}
.icon {
    display: inline-block;
    font-size: 10pt;
    padding: 0.2rem;
}
.icons > h3 {
    margin: 0 2rem 0 0;
    display: inline-block;
}
.icon > img {
    display: block;
    margin: auto;
}
.icon.selected {
    border: 1px dashed darkorange;
    background: black;
    color: white;
}
.icon.selected > img {
    filter: invert(1);
}

.fonts {
    width: 5rem;
    height: 5rem;
}

.toolbar {
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    padding: 4px;
    height: 3rem;
    background: white;
    border-top: 2px dashed lightgrey;
}

.toolbar > *, .tools > *, .settings > *, .toggle > * {
    display: inline-block;
}

.tool {
    cursor: pointer;
}
.toolbar .incomplete {
    text-decoration: line-through;
    visibility: hidden;
}
.tool.selected {
    border: 1px solid red;
}

.settings {
    border-left: 2px dashed lightgrey;
    padding-left: 1rem;
    margin-left: 1rem;
}
.toggle > * {
    padding: .2rem 1em .2em 1em;
}
.toggle-title {
    font-weight: bold;
}
.toggle-option {
    cursor: pointer;
    color: grey;
}
.toggle-option:hover {
    color: black;
}
.toggle-option.selected {
    background: lightgrey;
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    height: 3rem;
    background: white;
    border-top: 2px dashed lightgrey;
}

.text {
    font-family: PermanentMarker;
}

@font-face {
    font-family: PermanentMarker;
    font-style: normal;
    font-weight: 400;
    src: url("font/PermanentMarker-Regular.ttf");
}
