* {
  box-sizing: border-box;
  user-select: none;
}

body:not(.local)::before {
    position: fixed;
    left: 0;
    right: 0;
    top: 1rem; 
    color: red;
    text-align: center;
    color: red;
    font-size: 4rem;
    content: "NOT FINISHED";
    z-index: 4;
}

div.draw-area {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 6rem;
}
div.draw-area canvas {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.toolbar, .icons, .tools, .settings, .toggle {
    display: flex;
    align-items:center;
}

.footer > * > * {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer > * {
    display: none;
    right: 0;
    background: white;
    border-bottom: 0;
}
.footer > .toolbar {
    left: 0;
}
.footer > *.active {
    display: flex;
}

.icons {
    min-width: 5rem;
    min-height: 5rem;
    max-height: 10rem;
}
.icon {
    display: inline-block;
    font-size: 10pt;
    padding: 0.2rem;
}
.icons::before,
.text-editor::before,
.fonts::before,
.tools::before,
.settings::before {
    margin: 0 2rem 0 0;
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    color: green
}
.icons::before {
    content: "icons";
}
.fonts::before {
    content: "font";
}
.text-editor::before {
    content: "text";
}
.settings::before {
    content: "settings";
}
.tools::before {
    content: "tools";
}
.icon > img {
    display: block;
    margin: auto;
}
.icon.selected {
    border: 1px dashed darkorange;
    background: black;
    color: white;
}
.icon.selected > img {
    filter: invert(1);
}

.fonts > div {
    width: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.font {
    text-align: center;
    padding: 5px;
    background: white;
    color: black;
}
.font:hover:not(.selected) {
    background: lightgrey;
}
.font.selected {
    background: black;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
}

.footer > * {
    padding: 4px;
    height: min-content;
    background: white;
}
.footer > * {
    border-top: 2px dashed lightgrey;
}

.tool {
    cursor: pointer;
}
.tools > .section > * {
    padding: 5px;
    position: relative;
}
.tools .tooltip {
    display: none;
    position: absolute;
    background: rgb(40, 40, 40);
    color: rgb(230, 230, 230);
    padding: 4px;
    border-radius: 4px;
    top: -25px;
    height: 25px;
    text-align: center;
    margin-left: -5px;
    white-space: nowrap;
}
.tools {
    padding-right: 0;
}
.tools > div.section {
    display: flex;
    padding: 0 0.5rem 0 0.5rem;
}
.tools > div.section:not(:first-child) {
    border-left: 2px dotted lightgrey;
}
.tools div:hover > .tooltip {
    display: block;
}
.toolbar .incomplete {
    text-decoration: line-through;
    /*visibility: hidden;*/
    opacity: 0.1;
}
.tool.selected {
    border: 1px solid red;
}

.footer > * > *:not(:last-child) {
    border-right: 2px dashed lightgrey;
}

.settings {
    padding-left: 1rem;
    margin-left: 1rem;
}
.toggle > * {
    padding: .2rem 1em .2em 1em;
}
.toggle-title {
    font-weight: bold;
}
.toggle-option {
    cursor: pointer;
    color: grey;
    border-color: black;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.toggle-option:first-of-type {
    border-left-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.toggle-option:last-of-type {
    border-right-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.toggle-option:hover {
    color: black;
}
.toggle-option.selected {
    background: rgba(200, 255, 200, 0.6);
    color: black;
}

.help {
    padding: 4px;
    display: block;
}

.text-bar {
    padding: 4px;
    height: fit-content;
    background: white;
    border-top: 2px dashed lightgrey;
    display: none;
}
.text-bar.active {
    display: flex;
}

.text-editor textarea {
    overflow: hidden;
    white-space: nowrap;
    resize: none;
    height: 2em;
}

.text {
    font-family: PermanentMarker;
}

@font-face {
    font-family: PermanentMarker;
    font-style: normal;
    font-weight: 400;
    src: url("font/PermanentMarker-Regular.ttf");
}
